{% extends 'base.html' %}

{% block title %}Protected{% endblock %}

{% block content %}
    <h1>Protected</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <p>Welcome, {{ current_user.username }}!</p>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
        <div>
            <label for="file">Select file:</label>
            <input type="file" id="file" name="file" accept="image/jpeg" required>
        </div>
        <button type="submit">Upload</button>
    </form>
    <h2>Uploaded files</h2>
    <ul>
        {% for file in files %}
            <li>{{ file }}</li>
        {% endfor %}
    </ul>
{% endblock %}
