<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Protected</title>
  </head>
  <body>
    <script>
      const token = localStorage.getItem('token');

      if (token) {
        const requestOptions = {
          headers: { 'Authorization': `Bearer ${token}` }
        };

        fetch('/api/v1/protec', requestOptions)
          .then(response => response.text())
          .then(html => document.body.innerHTML = html)
          .catch(error => console.error(error));
      }
    </script>
  </body>
</html>
