{% extends 'base.html' %}

{% block title %}Sign-up!{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="post" action="#">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Submit</button>
</form>

<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', (event) => {
    event.preventDefault(); // prevent the form from submitting normally

    const username = document.getElementById('username').value;
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    const api_url = "{{ url_for('user_add') }}"
    const login_url = "{{ url_for('login') }}"
    const signup_url = "{{ url_for('signup') }}"
    const success_url = "{{ url_for('protected') }}"
    const data = { username, email, password };

    fetch(api_url, {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        if (data.error === 'User already exists') {
            window.location.href = url + '?error=' + encodeURIComponent(data.error); // redirect to login page
        }
        if (data.error === 'Email already exists') {
            window.location.href = signup_url + '?error=' + encodeURIComponent(data.error); // redirect to login page
        }
        if (data.token && data.message === 'User added successfully') {
            localStorage.setItem('token', data.token); // save token to localStorage
            window.location.href = success_url;
        }
    })
    .catch(error => console.error(error));
  });
</script>
{% endblock %}